<div class="ss-block-body">
    <div class="ss-block-internal">
        <label for="ss_ta_{{ name }}">
            <textarea name="ss_ta_{{ name }}" id="ss_ta_{{ name }}" cols="60" rows="1.5">{{ body }}</textarea>
        </label>
        <div class="ss-button-block">
            <div class="ss-button" data-name="{{ name }}">change</div>
        </div>
    </div>
</div>